@model mvcMovie.Models.Movie.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/detailsPage/style.css" rel="stylesheet" />
</head>


<div class="details-container">
    <h1 class="movie-title">@Model.Title</h1>

    @if(Model.movieFile != null)
    {
        <video controls>
            <source src="@Model.movieFile" type="video/mp4" />
            Your browser does not support the video tag.
        </video>
    }

    <div class="movie-info">
        <p><strong>Movie Time:</strong> @Model.MovieTime minutes</p>
        <p><strong>Release Date:</strong> @Model.ReleaseData</p>
        <p><strong>Genre:</strong> @Model.Genre</p>
        <p><strong>Price:</strong> @Model.price</p>
    </div>
    <div class="movie-description">
        <p><strong>Description</strong></p>
        <p>@Model.Description</p>
    </div>
</div>
